@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --beige: rgba(205, 162, 116, 1);
    --white: rgba(255, 255, 255, 1);
    --dark: rgba(41, 47, 54, 1);
    --gray: rgba(77, 80, 83, 1);
    --light-beige: rgba(244, 240, 236, 1);
    --dark-op: rgba(0, 0, 0, 0.5);
    --black: rgba(0, 0, 0, 1);
    --tr: .3s;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden
}

body {
    font-family: "DM Serif Display", serif;
    font-family: "Jost", sans-serif;
    font-size: 22px;
    margin: 0;
    background-image: url(../img/line.svg);
    background-repeat: no-repeat repeat;
    background-position: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.page {
    margin-top: 178px;
    margin-bottom: 178px;
}

.title_h2 {
    font-family: "DM Serif Display";
    font-size: 50px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 2px;
}

/*header*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 43px;
    padding-bottom: 45px;
}

.header_nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}

.header_item {
    margin-left: 48px;
}

.header_item:last-child {
    margin-left: 30px;
}

.header_link {
    color: var(--dark);
    font-size: 20px;
    text-decoration: none;
    transition: var(--tr);
}

.header_link:hover {
    color: var(--beige);
}

.header_search {
    padding: 0;
    background: transparent;
    border: none;
    display: flex;
    cursor: pointer;
}

/*footer*/

.bg {
    background: var(--light-beige);
    padding: 80px 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_inf {
    display: flex;
    align-items: center;
    padding-left: 0;
    line-height: 1.5;
    gap: 90px;
    color: var(--gray);
}

.footer_text {
    width: 100%;
    max-width: 258px;
    margin: 0;
}

.footer_link {
    text-decoration: none;
    color: var(--gray);
}

/*search modal*/

.overlay {
    position: fixed;
    z-index: 9999;
    top: -100vh;
    right: 0;
    left: 0;
    background-color: var(--dark-op);
    height: 100vh;
    transition: var(--tr);
}

.modal-search {
    background-color: var(--white);
    padding-top: 47px;
    padding-bottom: 47px;
}

.modal-search_content {
    display: flex;
    align-items: center;
    gap: 38px;
}

.modal-search_input {
    font-family: "Jost", sans-serif;
    flex-grow: 1;
    border: none;
    border-bottom: 1px solid var(--black);
    padding: 13px 0;
    transition: var(--tr);
}

.modal-search_input:focus {
    outline: none;
    border-bottom-color: var(--beige);
}

.modal-search_btn {
    cursor: pointer;
    background-image: url(../img/search-arrow.svg);
    background-size: 6px 14px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    display: block;
    border-radius: 100%;
    border: 1px solid var(--beige);
    width: 52px;
    height: 52px;
}

.modal-search_close {
    cursor: pointer;
    background-image: url(../img/close.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    display: block;
    width: 22px;
    height: 22px;
}

/*Hero*/

.hero {
    position: relative;
    overflow: hidden;
    border-radius: 0 0 0 30vh;
    padding-top: 30vh;
    padding-bottom: 40vh;
    margin-bottom: 198px;

}

.hero_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

.hero_inf {
    max-width: 567px;
    margin: 0;
}

.title_h1 {
    font-family: "DM Serif Display";
    font-size: 85px;
    line-height: 1.25;
}

.hero_text {
    width: 100%;
    color: var(--gray);
    line-height: 1.5;
}

/*about*/

.about {
    display: flex;
    justify-content: space-between;
    margin-bottom: 198px;
}

.about_thumb {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    flex-basis: 653px;
    border-radius: 0 30vh 0 12vh;
    height: 700px;
}

.about_img {
    width: 100%;
    height: 100%;
    position: absolute;

}

.about_text>.title_h2 {
    width: 100%;
    max-width: 420px;
    margin-top: 43px;
    margin-bottom: 33px;
    letter-spacing: 0.9px;
}

.about_text>p {
    width: 100%;
    max-width: 472px;
    letter-spacing: 0.2px;
    margin-top: 0;
    margin-bottom: 45px;
}

.call {
    display: flex;
    gap: 15px;
    margin-bottom: 47px;
}

.phone {
    background-image: url(../img/call.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: var(--light-beige);
    border: none;
    display: block;
    border-radius: 100%;
    width: 93px;
    height: 93px;
}

.number {
    display: flex;
    width: 100%;
    max-width: 170px;
    flex-direction: column;
    color: var(--gray);
    justify-content: center;
}

.number>p {
    margin: 0;
}

.number :first-child {
    font-family: "Jost";
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
}

.black_button {
    padding: 26px 31px;
    border-radius: 18px;
    gap: 10px;
    background-color: var(--dark);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--tr);
}

.right_arrow {
    background-image: url(../img/right-arrow.svg);
    background-position: center center;
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
}

.button_link {
    color: var(--white);
    text-decoration: none;
    font-family: "Jost";
    font-size: 18px;
    font-weight: 600;
    line-height: 1.25;
}

.black_button:hover {
    background-color: var(--beige);
    transform: translateY(-2px)
}

.black_button:hover .right_arrow {
    background-image: url(../img/right-arrow-after.svg);
}

/*Swiper*/

.swiperFeedback {
    border-radius: 70px;
    background-color: var(--light-beige);
    height: 680px;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper-slide>.title_h2 {
    margin-top: 88px;
    margin-bottom: 90px;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: var(--white);
    border: none;
    border-radius: 100%;
    width: 52px;
    height: 52px;
}

.swiper-button-next {
    margin-right: 94px;
}

.swiper-button-prev {
    margin-left: 94px;
}

.virgule {
    width: 31px;
    height: 23px;
}

.swiper_text {
    color: var(--dark);
    font-family: "DM Serif Display";
    font-style: italic;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
    max-width: 750px;
    margin-top: 27px;
    margin-bottom: 34px;
}

.sign {
    color: var(--gray);
    text-align: center;
    font-family: "Jost";
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin: 0 auto;
}

/*brand's*/

.brands {
    display: flex;
    width: 100%;
    max-width: 1090px;
    margin: 0 auto;
    gap: 108px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.brand_01 {
    background-image: url(../img/brands/01.jpg);
    width: 131px;
    height: 43px;
}

.brand_02 {
    background-image: url(../img/brands/02.jpg);
    width: 102px;
    height: 102px;
}

.brand_03 {
    background-image: url(../img/brands/03.jpg);
    width: 163px;
    height: 43px;
}

.brand_04 {
    background-image: url(../img/brands/04.jpg);
    width: 144px;
    height: 44px;
}

.brand_05 {
    background-image: url(../img/brands/05.jpg);
    width: 116px;
    height: 47px;
}

/*stat*/

.stat {
    margin-top: 178px;
    margin-bottom: 178px;
    justify-content: center;
}

.stats {
    display: flex;
}

.stats_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-basis: 25%;
}

.stats_item>.title_h1 {
    color: var(--beige);
    text-align: center;
    letter-spacing: 1px;
    margin: 0 auto;
}

.stats_text {
    color: var(--gray);
    position: relative;
    margin: 0 auto;
}

.stats_item:not(:last-child)::after {
    content: ' ';
    position: absolute;
    width: 1px;
    height: 130px;
    background-color: var(--beige);
}

/*articles*/

.article_title,
.news {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.news {
    width: 100%;
    max-width: 811px;
    color: var(--gray);
    margin-top: 12px;
    margin-bottom: 52px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    text-align: center;
}

.articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 27px;
}

.article_item {
    width: 382px;
    height: 521px;
    padding: 21px;
    box-sizing: border-box;
    border: 1px solid rgba(231, 231, 231, 1);
    border-radius: 62px;
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
    transition: var(--tr);
}

.article_item:hover {
    background-color: var(--light-beige);
    transition: var(--tr);
}

.article_item:hover .articles_link {
    background-color: var(--white);
    transition: var(--tr);
}

.articles_thumb {
    position: relative;
    overflow: hidden;
    width: 340px;
    height: 479px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.articles_img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate3d(0, 0, 0);
    z-index: 1;
    border-radius: 62px 62px 0 0;
    max-width: 340px;
    max-height: 289.27px;
}

.articles_tag {
    position: absolute;
    top: 228px;
    left: 20px;
    background-color: var(--white);
    line-height: 1.5;
    padding: 8px 16px;
    border-radius: 8px 8px 8px 0;
    font-size: 16px;
    color: var(--gray);
    z-index: 2;
}

.articles_title {
    font-family: "DM Serif Display";
    margin: 0;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.25;
    color: var(--dark);
    width: 100%;
    max-width: 284px;
    position: absolute;
    bottom: 90px;
    letter-spacing: 0.3px;
}

.articles_title>a {
    text-decoration: none;
    color: var(--dark);
}

.articles_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.articles_date {
    font-size: 14px;
    color: var(--gray);
    line-height: 1.5;
}

.articles_link {
    cursor: pointer;
    background-image: url(../img/search-arrow.svg);
    background-size: 6px 14px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: var(--light-beige);
    border: none;
    display: block;
    border-radius: 100%;
    width: 52px;
    height: 52px;
}

/*subscribe*/

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 315px;
    border-radius: 70px;
    background: var(--dark);
}

.subscribe>.title_h2,
.subscribe-text {
    color: var(--white);
    margin: 0 auto;
}

.subscribe-text {
    margin-top: 10px;
    margin-bottom: 32px;
    letter-spacing: 1.2px;
}

.subscribe-box {
    border-radius: 18px;
    width: 400px;
    height: 75px;
    display: flex;
}

.sub_bg {
    width: 136px;
    height: 75px;
    border-radius: 0px 18px 18px 0px;
    background-color: var(--beige);
    color: var(--white);
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    transition: var(--tr);
}

/*.sub_bg:hover {
    transform: scale(1.1);
}*/

.input_mail {
    width: 264px;
    height: 75px;
    border-radius: 18px 0px 0px 18px;
    box-sizing: border-box;
    border: none;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 20px;
    color: var(--gray);
}

.input_mail:focus,
.input_mail:active {
    outline: none;
}

.sub_bg,
.input_mail {
    font-weight: 500;
}

/*contact*/

.contact_h2 {
    width: 100%;
    max-width: 663px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1px;
}

.contact>.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form {
    display: grid;
    grid-template-areas:
        "name email"
        "message message";
    row-gap: 57px;
    column-gap: 40px;
    padding: 20px;
    width: 796px;
    margin: 0 auto;
}

.contact-form_input[type="text"] {
    grid-area: name;
}

.contact-form_input[type="email"] {
    grid-area: email;
}

.contact-form_textarea {
    grid-area: message;
    resize: vertical;
    min-height: 175px;
}

.send {
    margin-top: 77px;
    }

    .send > .black_button {
        padding: 26px 54px;
    }

.contact-form_textarea,
.contact-form_input,
.contact-form_input:focus,
.contact-form_input:active,
.contact-form_textarea:focus,
.contact-form_textarea:active {
    border: none; 
    outline: none;
    box-shadow: none;
    color: var(--gray);
    font-family: "Jost";
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    border-bottom: 1px solid var(--black);
}

/*next page*/

/*Banner*/

.thumb {
    position: relative;
    overflow: hidden;
    height: 356px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.thumb_img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    z-index: 1;
}

.thumb_info {
    position: absolute;
    z-index: 2;
    display: flex;
    width: 503px;
    height: 178px;
    border-radius: 37px 37px 0px 0px;
    background-color: var(--white);
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.thumb_info > .title_h2 {
    margin: 0 auto;
    letter-spacing: 1px;
}

.breadcrumbs {
    display: flex;
    margin: 0 auto;
    list-style-type: none;
    color: var(--gray);
    padding: 0;
    align-items: center;
}